---
layout: docs
title: "reloadOnOnline"
---
<script>
  import Tabs from "$components/tabs.svelte";
  import Tab from "$components/tab.svelte";
</script>

## First added

`next-pwa`

## Default

`true`

## About

Whether Serwist should reload the app when it goes online.

## How it works

When this is set to `true`, the code injected into your app's entrypoints adds an event listener that runs `location.reload()` to window's "online" event.

## Usage

<Tabs id="usage-example" tabs={[["next.config.js", "next-config-js"]]}>
  <Tab id="next-config-js">

```javascript
withSerwistInit({
  swSrc: "app/sw.ts",
  swDest: "public/sw.js",
  reloadOnOnline: true,
});
```

  </Tab>
</Tabs>
